body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:158px;
  width:50px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:673px;
  top:158px;
  width:60px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:202px;
  top:110px;
  width:68px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:665px;
  top:110px;
  width:76px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:240px;
  top:248px;
  width:10px;
  height:579px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:562px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:579px;
}
#u9 {
  position:absolute;
  left:698px;
  top:248px;
  width:10px;
  height:579px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:562px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:579px;
}
#u10 {
  position:absolute;
  left:250px;
  top:285px;
  width:222px;
  height:71px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:71px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:218px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:476px;
  top:403px;
  width:222px;
  height:71px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:71px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:218px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:700px;
  top:399px;
  width:-450px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-454px;
  top:-10px;
  width:464px;
  height:20px;
}
#u15 {
  position:absolute;
  left:-275px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:501px;
  width:290px;
  height:92px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:92px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:286px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:250px;
  top:598px;
  width:450px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:464px;
  height:20px;
}
#u19 {
  position:absolute;
  left:175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:250px;
  top:360px;
  width:450px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:464px;
  height:20px;
}
#u21 {
  position:absolute;
  left:175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:450px;
  top:618px;
  width:248px;
  height:133px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:133px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:244px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:880px;
  width:1075px;
  height:795px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:795px;
}
#u25 {
  position:absolute;
  left:2px;
  top:390px;
  width:1071px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:814px;
  top:820px;
  width:586px;
  height:170px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:170px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:110px;
  top:1665px;
  width:760px;
  height:773px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:773px;
}
#u29 {
  position:absolute;
  left:2px;
  top:378px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
